.page-content {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.center-content {
    display: inline-block;
    width: 70%;
}

.embed-content {
    display: inline-block;
    margin: 0 1rem;
    width: 22rem;
    vertical-align: middle;
}